Package: [[name]]
Version: [[version]]
Section: net
Priority: optional
Architecture: all
Depends:
Maintainer: Christian Fritz <mail@chr-fritz.de>
Description: jolokia plugin for munin monitoring
Distribution: development
